

@model IEnumerable<UserViewModel>


@{
    ViewData["Title"] = "المستخدمين";
    var index = 1;
}

<!-- Content wrapper -->
<!-- Custom style1 Breadcrumb -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">


        <!-- Users List Table -->
        <div class="card">

            <div class="row gx-3 gy-2 align-items-center mt-1 mb-4 ms-1 me-1">



                <div class="col-md-12">
                        <div class="dt-buttons btn-add">


                            <div class=" justify-content-end   d-grid gap-2 ">
                                <a asp-action="Add">
                                    <button class="dt-button add-new btn btn-primary mt-3 ml-5">
                                        <span>
                                            <i class="bx bx-plus me-0 me-lg-2 p-2 "></i>
                                            <span class="d-none d-lg-inline-block">إضافة مستخدم </span>
                                        </span>
                                    </button>
                                </a>
                            </div>
                        </div>


                    </div>


                <div class="table-responsive text-nowrap">
                    @if (!Model.Any())
                    {
                        <div class="alert alert-warning" role="alert">
                            لايوجد اي مستخدم يعد
                        </div>
                    }
                    else
                    {

                        <table class="table TProject">
                            <thead>
                                <tr>
                                    <th>الرقم </th>
                                    <th>الاسم</th>
                                    <th>
                                        اسم المستخدم
                                    </th>
                                    <th> البريد الالكتروني</th>
                                    <th>هل نشط؟</th>
                                    <th>الصلاحيات</th>


                                    <th>الإجراءات</th>

                                </tr>
                            </thead>
                            <tbody class="table-border-bottom-0">
                                @foreach (var item in Model)
                                {
                                    <tr #row="@item.Id">
                                        <th>@(index++)</th>
                                        <th>@item.Name</th>
                                        <th> @item.UserName</th>
                                        <th>@item.Email</th>
                                        <th>
                                            @if (item.IsActive)
                                            {
                                                <p>نشط</p>
                                            }
                                            else
                                            {<p>غير نشط</p>}


                                        </th>
                                        <th>@string.Join(",", item.Roles.ToList()) </th>

                                        <th>
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    <i class="bx bx-dots-vertical-rounded"></i>
                                                </button>
                                                <div class="dropdown-menu">

                                                    <a asp-controller="Users" asp-action="ManageRoles" asp-route-userId="@item.Id" class="dropdown-item">
                                                        <i class="bx bxs-edit-alt icon-padding edit-color"></i>

                                                        إدارة الصلاحيات
                                                    </a>
                                                    <a asp-controller="Users" asp-action="Edit" asp-route-userId="@item.Id" class="dropdown-item">
                                                        <i class="bx bxs-edit-alt icon-padding edit-color"></i>
                                                        تعديل
                                                    </a>
                                                    <a asp-controller="Users" asp-action="Delete" asp-route-userId="@item.Id" class="dropdown-item" onclick="return confirm('هل تريد حذف هذا الحقل ؟')">
                                                        <i class="bx bxs-trash-alt icon-padding delet-color"></i>
                                                        حذف
                                                    </a>



                                                </div>
                                            </div>
                                        </th>


                                    </tr>
                                }


                            </tbody>


                        </table>
                    }
                    </div>


            </div>


        </div>
    </div>





    <!-- / Layout wrapper -->
</div>



