@model List<ContractFarming.Models.Installment>

@{
    ViewData["Title"] = "الأقساط";
    var Index = 1;
}

<!-- Content wrapper -->
<!-- Custom style1 Breadcrumb -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">

        <!-- Users List Table -->
        <div class="card">

            <div class="card-datatable ">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                  
                <div class="table-responsive text-nowrap">

                    <div class="card">
                        <div class="table-responsive text-nowrap">
                            @if (!Model.Any())
                            {
                                <div class="alert alert-warning" role="alert">
                                    لا توجد اي أقساط بعد
                                </div>
                            }
                            else
                            {
                                <table class="table TProject">
                                    <thead>
                                        <tr>
                                            <th>رقم التسلسلي</th>
                                            <th>العقد</th>

                                           
                                            <th>رقم القسط</th>
                                            <th>نوعه</th>
                                            <th>
                                                التفاصيل
                                            </th>
                                            @*<th>الإجراءات</th>*@
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <th>@(Index++)</th>
                                            <td>@item.Contract.ContractTitle</td>

                                            <td>@item.Id</td>

                                            <td>
                                                @if (item.Discriminator == "Financial_Installment")
                                                {<p>مالي</p> }

                                                else
                                                { <p>عيني</p>}
                                            </td>

                                            <th>
                                                <div class="dropdown">
                                                    <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="bx bx-dots-vertical-rounded"></i>
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        @if (item.Discriminator == "Financial_Installment")
                                                        {
                                                            <a asp-action="Financial_Installment" class="dropdown-item">
                                                                <i class=" fa fa-eye icon-padding"></i>

                                                                عرض
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a asp-action="InKindInstallment" class="dropdown-item">
                                                                <i class=" fa fa-eye icon-padding"></i>

                                                                عرض
                                                            </a>
                                                        }

                                                        <a asp-controller="InstallmentReview" asp-action="Add" class="dropdown-item">
                                                            <i class="bx bxs-edit-alt icon-padding edit-color"></i>

                                                            تقييم
                                                        </a>
                                                        <a asp-action="Confirm" asp-route-id="@item.Id" class="dropdown-item">
                                                            <i class=" fa fa-check icon-padding"></i>

                                                            موافقة على القسط
                                                        </a>

                                                        <a asp-action="Refuse" asp-route-id="@item.Id" class="dropdown-item">
                                                            <i class=" fa fa-trash icon-padding"></i>

                                                            رفض القسط
                                                        </a>



                                                    </div>
                                                </div>
                                            </th>

                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            }
                            </div>


                      
                    </div>
                </div>
            </div>
        </div>


        <!-- / Layout wrapper -->
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}












